<%= image_tag @profile.image.url(:thumb) %> 
<p class="content">Name: <%= @profile.name %></p> 
<p class="content">Last Name: <%= @profile.last_name %></p>
<%= link_to "Settings", edit_profile_path(@profile) %> 

	