<% provide(:name, "Edit book") %>
<div class="container">
<h1>Show book</h1>
	<div class="book">
			<div class="field"> 
				Name: <%= @book.name%><br> 
			</div> 
			<div class="field"> 
				Autor: <%= @book.autor %><br> 
			</div> 
			<div class="field"> 
				Genre: <%= @book.genre %><br> 
			</div>
			<div class="field"> 
				Year: <%= @book.year %><br> 
			</div>
	</div>
</div>